<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quizzes - InquizitorApp</title>
  <%- include("partials/_imports.ejs") %>
  <script type="text/javascript" src="/scripts/home.js"></script>
</head>

<body>

  <%- include("partials/_header.ejs", {alerts, userData, currentPage, data: {}}) %>

  <main class="container d-flex flex-column flex-lg-row mt-lg-4">
    <!-- MAIN WINDOW (SPLIT) -->
    <div class="col-12 col-lg-8 m-auto">
      <section id="main-split" class="overflow-auto">
        <!-- MAIN CONTENT -->
        <div id="main-split-content">

          <!-- DEV LOG -->
          <h1 class="h3">Dev Log</h1>
          <div class="divider-h mt-1 mb-3"></div>

          <div id="dev-log" class="mb-3 mb-xl-4 console overflow-auto">

          <!-- CONSOLE -->

          <code class="d-flex flex-column align-items-start">

          <span class="ahhreggi">@ahhreggi > inquizitorapp -v</span>
          <span class="system">v13.33.7</span>
          <span class="pladd">@pladd > Hello world!</span>
          <span class="ahhreggi">@ahhreggi > git add .</span>
          <span class="ahhreggi">@ahhreggi > git commit -m "time to sleep"</span>
          <span class="ahhreggi">@ahhreggi > git push</span>
          <span class="ahhreggi">@ahhreggi > git checkout main</span>
          <span class="system">Already on 'main'</span>
          <span class="ahhreggi">@ahhreggi > oh god</span>
          <span class="system">oh: command not found</span>
          <span class="ahhreggi">@ahhreggi > sleep</span>
          <span class="system">sleep: missing operand</span>
          <span class="system">Try 'sleep --help' for more information.</span>

          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">no</span>
          <span class="system">:)</span>

          </code>

          </div>

          <!-- FEATURED QUIZZES -->
          <h1 class="h3">Featured Quizzes</h1>
          <div class="divider-h mt-1 mb-2"></div>
          <div id="featured-quizzes" class="d-flex flex-column flex-xl-row justify-content-between">

            <% for (const quiz of quizData) { %>
              <a href="/quizzes/<%= quiz.id %> ">
              <div class="list-quiz d-flex flex-column align-items-start justify-content-center justify-content-xl-between"
              data-quiz-data="<%= JSON.stringify(quiz) %>">
                <p class="title"><%= quiz.title %> </p>
                <p class="author <%= quiz.is_admin ? "admin" : "" %> "><%= quiz.author %> </p>
              </div>
              </a>
            <% } %>

          </div>

        </div>
      </section>
    </div>

    <!-- SIDE PANELS (SPLIT) -->
    <div id="side-section" class="col-12 col-lg-4">
      <!-- USER PANEL -->
      <%- include("partials/_side_top.ejs", userData) %>
      <!-- LEADERBOARDS -->
      <%- include("partials/_side_bottom.ejs", rankData) %>
    </div>

  </main>

  <%- include("partials/_footer.ejs") %>

  <!-- EJS DATA -->
  <div id="ejs" data-quiz-data="<%= JSON.stringify(quizData) %>"></div>

</body>

</html>