<!DOCTYPE html>
<html lang="en">

<head>
  <title><%= quizData.title %> - InquizitorApp</title>
  <%- include("partials/_imports.ejs") %>
  <script type="text/javascript" src="/scripts/quiz_show.js"></script>
</head>

<body>

  <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

  <main class="container d-flex flex-column flex-lg-row mt-lg-4">

    <!-- MAIN WINDOW (SPLIT) -->
    <div class="col-12 col-lg-8 m-auto">
      <section id="main-split" class="overflow-auto">

        <!-- MAIN CONTENT -->
        <div id="main-split-content">

          <!-- QUIZ FRONT PAGE -->
          <div id="quiz-front" class="d-flex flex-column">

            <!-- QUIZ INFO -->
            <p class="h1"><%= quizData.title %> </p>
            <p class="lead"><%= quizData.description %></p>
            <p class="text-muted">Submitted by <%= quizData.author %> on <%= quizData.creation_time %> (<%= quizData.relative_time %>)</p>

            <div class="d-flex flex-row justify-content-md-between">
              <button id="play-quiz" type="button" class="btn-custom btn-custom-green">
                Start Quiz
              </button>
              <button id="share-btn" type="button" class="btn-custom ml-2">
                Share Link
              </button>
            </div>

            <div class="divider-h mb-4"></div>

            <!-- REVIEWS -->
            <p class="h4 mt-0 mb-4">Recent Reviews</p>
            <% for (const review of quizData.reviews) { %>
            <div class="d-flex flex-row quiz-review">
              <div class="div d-flex flex-column">
                <span class="review-title"><%= review.title %></span>
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <% for (let i = 0; i < review.rating; i++) { %>
                    <img src="/images/star.png" alt="star">
                    <% } %>
                  </div>
                </div>
                <span class="review-comment mt-2"><%= review.comment %> </span>
                <span class="review-timestamp text-muted"> <%= review.timestamp %> by <%= review.username %> </span>
              </div>
            </div>
            <% } %>
            <!-- REVIEW MESSAGE (if there are no reviews) -->
            <% if (!quizData.reviews.length) { %>
              <p class="lead">There aren't any reviews for this quiz yet.</p>
            <% } %>

          </div>

          <!-- RESULTS FORM -->
          <div id="quiz-end" class="d-none flex-column justify-content-center">

            <p class="lead">Hooray! You've reached the end of</p>
            <p class="h1 d-flex"><%= quizData.title %> </p>
            <div>
              <button id="submit-quiz" type="button" class="btn-custom my-3">
                View Results
              </button>
            </div>

            <div class="divider-h mt-3 mb-2"></div>

            <!-- REVIEW FORM (shown only if the user is logged in) -->
            <% if (userData) { %>
            <div id="quiz-review-form">
              <h1 class="h4 mt-3">Enjoy this quiz? Leave a review below!</h1>
              <form id="review-form" class="form">
                <div class="form-group mb-2">
                  <!-- USER DATA -->
                  <input id="review-user" class="d-none" type="text" value="<%= userData ? userData.id : null %>">
                  <!-- REVIEW TITLE -->
                  <label for="title" class="form-label text-muted">Review Title</label>
                  <input id="review-title" class="form-control" type="text" name="title" maxlength="60" placeholder="Great quiz!" required>
                  <!-- REVIEW COMMENT -->
                  <label for="comment" class="form-label text-muted mt-2">Review Comment</label>
                  <input id="review-comment" class="form-control" type="text" name="comment" maxlength="90" placeholder="Challenging and intriguing questions! Highly recommended!" required>
                  <!-- REVIEW RATING -->
                  <label for="rating" class="form-label text-muted mt-2">Review Rating</label>
                  <select id="review-rating" class="custom-select" required>
                    <option selected disabled value="">Select a rating...</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                  <!-- SUBMIT -->
                  <button type="submit" class="btn-custom mt-4 my-3">Submit Review</button>
                  <span id="review-error" class="ml-2"></span>
                </div>
              </form>
            </div>

            <!-- SUBMISSION SUCCESS MESSAGE -->
            <div id="review-submitted" class="d-none">
              <p class="lead mt-3">Your review has been submitted! Thank you!</p>
            </div>

            <% } else { %>

              <p class="lead mt-3">You must be logged in to post a review!</p>

            <% } %>

            <div class="divider-h mt-2 mb-4"></div>

            <!-- REVIEWS -->
            <p class="h4 mt-0 mb-4">Recent Reviews</p>
            <% for (const review of quizData.reviews) { %>
            <div class="d-flex flex-row quiz-review">
              <div class="div d-flex flex-column">
                <span class="review-title"><%= review.title %></span>
                <div class="d-flex flex-row align-items-center">
                  <div>
                    <% for (let i = 0; i < review.rating; i++) { %>
                    <img src="/images/star.png" alt="star">
                    <% } %>
                  </div>
                </div>
                <span class="review-comment mt-2"><%= review.comment %> </span>
                <span class="review-timestamp text-muted"> <%= review.timestamp %> by <%= review.username %> </span>
              </div>
            </div>
            <% } %>
            <!-- REVIEW MESSAGE (if there are no reviews) -->
            <% if (!quizData.reviews.length) { %>
              <p class="lead">There aren't any reviews for this quiz yet.</p>
            <% } %>

          </div>

        </div>
      </section>
    </div>

    <!-- SIDE PANELS (SPLIT) -->
    <div id="side-section" class="col-12 col-lg-4">
      <!-- USER PANEL -->
      <%- include("partials/_side_top.ejs", userData) %>
      <!-- LEADERBOARDS -->
      <%- include("partials/_side_bottom.ejs", rankData) %>
    </div>

  </main>

  <%- include("partials/_footer.ejs") %>

  <!-- EJS Variable Fetcher (don't modify below!) -->
  <p>EJS Variables</p>
  <ul id="data-ejs">
    <% for (const key in quizData) { %>
    <li>
      <%= key %>:
      <span class="data-quiz-key" title="<%= key %>"><%= quizData[key] %></span>
    </li>
    <% } %>
  </ul>
  <p>quizData.reviews</p>
  <ul>
    <% for (const key in quizData.reviews[0]) { %>
    <li><%= key %>: <%= quizData.reviews[0][key] %></li>
    <% } %>
  </ul>
  <!------------------------------------------->


</body>

</html>