<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Some Quiz - InquizitorApp</title>
    <%- include("partials/_imports.ejs") %>
    <script type="text/javascript" src="/scripts/quiz_show.js"></script>
  </head>

  <body>

    <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-4">

      <!-- MAIN WINDOW (SPLIT) -->
      <div class="col-12 col-lg-8 m-auto">
        <section id="main-split" class="overflow-auto">

          <!-- MAIN CONTENT -->
          <div id="main-split-content">

            <!-- QUIZ SESSION -->
            <div id="quiz-session" class="d-flex flex-column">
              <div id="quiz-title" class="text-muted initialism">
                <%= quizData.title %>
              </div>
              <div id="quiz-question-number" class="mt-4 mb-3">Question 1 of 3</div>
              <div id="quiz-question" class="d-flex flex-column mb-4">
                <h1 class="h3">What is the capital of Canada?What is the capital of Canada?What is the capital of Canada?What is the capital of Canada?What is the capital of Canada?</h1>
              </div>
              <div id="quiz-answers" class="d-flex flex-column">
                <span class="quiz-option d-flex align-items-center">Option1</span>
                <span class="quiz-option d-flex align-items-center">Option1</span>
                <span class="quiz-option d-flex align-items-center">Option1</span>
                <span class="quiz-option d-flex align-items-center">Option1</span>
              </div>
            </div>

            <!-- QUIZ FRONT PAGE -->
            <div id="quiz-front" class="d-none">

              <!-- QUIZ INFO -->
              <p class="h1"><%= quizData.title %> </p>
              <p class="lead"><%= quizData.description %></p>
              <p class="text-muted">Submitted by <%= quizData.author %> on <%= quizData.creation_date %> (<%= quizData.relative_time %>)</p>

              <button id="play-quiz" type="button">
                START QUIZ
              </button>

              <div class="divider-h"></div>

              <!-- Reviews -->
              <p class="h4 mt-0">Recent Reviews</p>

              <% for (const review of quizData.reviews) { %>

                <div class="d-flex flex-row quiz-review">

                  <div class="div d-flex flex-column">
                    <span class="review-title"><%= review.title %></span>

                    <div class="d-flex flex-row align-items-center">
                      <div>
                        <% for (let i = 0; i < review.rating; i++) { %>
                          <img src="/images/star.png" alt="star">
                        <% } %>
                      </div>
                    </div>
                    <span class="review-comment mt-2"><%= review.comment %> </span>
                    <span class="review-timestamp text-muted"> <%= review.timestamp %> by <%= review.username %> </span>

                  </div>

                </div>

              <% } %>
            </div>

          </div>
        </section>
      </div>

      <!-- SIDE PANELS (SPLIT) -->
      <div id="side-section" class="col-12 col-lg-4">
        <!-- USER PANEL -->
        <%- include("partials/_side_top.ejs", userData) %>
        <!-- LEADERBOARDS -->
        <%- include("partials/_side_bottom.ejs", rankData) %>
      </div>

    </main>

    <p>Quiz data:</p>
    <ul>
    <% for (const key in quizData) { %>
      <li>
        <%= key %>:
        <span class="data-key" title="<%= key %>"><%= quizData[key] %></span>
      </li>
    <% } %>
    </ul>
    <p>Review data (quizData.reviews, array of objects, this is just from one review as an example):</p>
    <ul>
      <% for (const key in quizData.reviews[0]) { %>
        <li><%= key %>: <%= quizData.reviews[0][key] %></li>
      <% } %>
      </ul>
  <%- include("partials/_footer.ejs") %>


  </body>

</html>
