<!DOCTYPE html>
<html lang="en">

<head>
  <title>Results - InquizitorApp</title>
  <%- include("partials/_imports.ejs") %>
</head>

<body>

  <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

  <main class="container d-flex flex-column flex-lg-row mt-lg-4">

    <!-- MAIN WINDOW (SPLIT) -->
    <div class="col-12 col-lg-8 m-auto">
      <section id="main-split" class="overflow-auto">
        <!-- MAIN TITLE -->
        <div id="main-title" class="mb-5">
          Quiz Results
        </div>
        <!-- MAIN CONTENT -->
        <div id="main-split-content">
          <!-- CONTENT HERE -->
        </div>
      </section>
    </div>

    <!-- SIDE PANELS (SPLIT) -->
    <div id="side-section" class="col-12 col-lg-4">
      <!-- USER PANEL -->
      <%- include("partials/_side_top.ejs", userData) %>
      <!-- LEADERBOARDS -->
      <%- include("partials/_side_bottom.ejs", rankData) %>
    </div>

  </main>
  <p>User data available:</p>
  <ul>
    <% for (let key in userData) { %>
    <li><%= key %>: <%= userData[key] %></li>

    <% } %>
  </ul>

  <p>Quiz data available:</p>
  <ul>
    <% for (let key in quizData) { %>
    <li><%= key %>: <%= quizData[key] %></li>

    <% } %>
  </ul>


  <p>Session data available:</p>
  <ul>
    <% for (let key in sessionData) { %>
    <li><%= key %>: <%= sessionData[key] %></li>

    <% } %>
  </ul>
  <p>Responses:</p>
  <ul>
    <% for (let response of sessionData.responses) { %>
    <li>question: <%= response.question %></li>
    <ul>
      <li>answer: <%= response.answer.answer %></li>
      <li>is_correct: <%= response.answer.is_correct %></li>
    </ul>
    <% } %>
  </ul>

  <%- include("partials/_footer.ejs") %>

  <!-- EJS Variable Fetcher (don't modify below!) -->
  <p>EJS Variables</p>
  <ul id="data-ejs">
    <% for (const key in quizData) { %>
    <li>
      <%= key %>:
      <span class="data-quiz-key" title="<%= key %>"><%= quizData[key] %></span>
    </li>
    <% } %>
    <% for (const key in userData) { %>
      <li>
        <%= key %>:
        <span class="data-user-key" title="<%= key %>"><%= userData[key] %></span>
      </li>
    <% } %>
    <% for (const key in sessionData) { %>
      <li>
        <%= key %>:
        <span class="data-session-key" title="<%= key %>"><%= sessionData[key] %></span>
      </li>
    <% } %>
  </ul>
  <!------------------------------------------->

</body>

</html>