<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz App</title>
    <%- include("partials/_imports.ejs") %>
  </head>

  <body>

    <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-4">

      <!-- MAIN WINDOW (SPLIT) -->
      <div class="col-12 col-lg-8 m-auto">
        <section id="main-split" class="overflow-auto">
          <!-- MAIN TITLE -->
          <div id="main-title" class="mb-5">
            New Quiz
          </div>
          <!-- MAIN CONTENT -->
          <div id="main-split-content">
            <!-- CONTENT HERE -->
          </div>
        </section>
      </div>

      <!-- SIDE PANELS (SPLIT) -->
      <div id="side-section" class="col-12 col-lg-4">
        <!-- USER PANEL -->
        <%- include("partials/_side_top.ejs", userData) %>
        <!-- LEADERBOARDS -->
        <%- include("partials/_side_bottom.ejs", rankData) %>
      </div>

    </main>

  <%- include("partials/_footer.ejs") %>

  </body>

</html>