<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Some Quiz - InquizitorApp</title>
    <%- include("partials/_imports.ejs") %>
    <script type="text/javascript" src="/scripts/quiz_show.js"></script>
  </head>

  <body>

    <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

    <main class="container d-flex flex-column flex-lg-row mt-lg-4">

      <!-- MAIN WINDOW (SPLIT) -->
      <div class="col-12 col-lg-8 m-auto">
        <section id="main-split" class="overflow-auto">
          <!-- MAIN CONTENT -->
          <div id="main-split-content">

            <!-- QUIZ INFO -->
            <p class="h1"><%= quizData.title %> </p>
            <p class="lead"><%= quizData.description %></p>
            <p class="text-muted">Submitted by <%= quizData.author %> on <%= quizData.creation_date %></p>

            <button id="play-quiz" type="button">
              START QUIZ
            </button>

            <div class="divider-h"></div>

            <!-- Reviews -->
            <p class="h4">Recent Reviews</p>

            <% for (const review of quizData.reviews) { %>
              <div class="d-flex flex-column quiz-review">

                <span class="review-comment"><%= review.comment %> </span>
                <span class="review-author"><%= review.username %></span>
                  <div>
                    <% for (let i = 0; i < review.rating; i++) { %>
                      <img src="/images/star.png" alt="star">
                    <% } %>
                  </div>
                  <span class="review-timestamp text-muted"><%= review.timestamp %> </span>
              </div>

              <% } %>

          </div>
        </section>
      </div>

      <!-- SIDE PANELS (SPLIT) -->
      <div id="side-section" class="col-12 col-lg-4">
        <!-- USER PANEL -->
        <%- include("partials/_side_top.ejs", userData) %>
        <!-- LEADERBOARDS -->
        <%- include("partials/_side_bottom.ejs", rankData) %>
      </div>

    </main>

    <p>Data available to this page:</p>
    <ul id="data-ejs">
    <% for (const key in quizData) { %>
      <li>
        <%= key %>:
        <span class="data-key" title="<%= key %>"><%= quizData[key] %></span>
      </li>
    <% } %>
      </ul>

  <%- include("partials/_footer.ejs") %>


  </body>

</html>
