<!DOCTYPE html>
<html lang="en">

<head>
  <title>Create Quiz - InquizitorApp</title>
  <%- include("partials/_imports.ejs") %>
  <script type="text/javascript" src="/scripts/quiz_new.js"></script>
</head>

<body>

  <%- include("partials/_header.ejs", {alerts, userData, currentPage}) %>

  <main class="container d-flex flex-column flex-lg-row mt-lg-4">

    <!-- MAIN WINDOW (SPLIT) -->
    <div class="col-12 col-lg-8 m-auto">
      <section id="main-split" class="overflow-auto border-blue">
        <!-- MAIN TITLE -->
        <div id="main-title" class="mb-5">
          Create Quiz
        </div>
        <!-- MAIN CONTENT -->
        <div id="main-split-content">
          <!-- FORM -->
          <div class="d-flex flex-column justify-content-center">
            <form id="new-quiz-form" class="form" action="/quizzes" method="POST">
              <div class="form-group mb-2">
                <!-- TITLE -->
                <label for="title" class="form-label text-muted">Title</label>
                <input id="quiz-title" class="form-control" type="text" name="username" maxlength="30" required>
                <!-- DESCRIPTION -->
                <label for="description" class="form-label text-muted mt-2">Description</label>
                <input id="quiz-desc" class="form-control" type="text" name="description" maxlength="60" required>
                <!-- COVER PHOTO -->
                <label for="cover-photo" class="form-label text-muted mt-2">Cover Photo URL (optional)</label>
                <input id="quiz-photo" class="form-control" type="text" name="cover-photo" placeholder="https://i.imgur.com/MUEFC2O.jpg">
                <!-- CATEGORY (value = category_id) -->
                <div class="form-row">
                  <div class="col-12 col-md-6">
                    <label for="category" class="form-label text-muted mt-2">Category</label>
                    <select id="quiz-category" class="custom-select" required>
                      <option selected disabled value="">Select one...</option>
                      <option value="1">Technology</option>
                      <option value="2">Gaming</option>
                      <option value="3">Education</option>
                    </select>
                  </div>
                  <!-- VISIBILITY -->
                  <div class="col-12 col-md-6">
                    <label for="public" class="form-label text-muted mt-2">Visibility</label>
                    <select id="quiz-visibility" class="custom-select" required>
                      <option value="true">Public</option>
                      <option value="false">Unlisted</option>
                    </select>
                  </div>
                </div>

                <!-- QUESTIONS -->
                <label id="questions-counter" class="form-label text-muted mt-3 lead">Questions</label>
                <div id="add-questions" class="mt-2">

                  <!-- INDIVIDUAL QUESTIONS -->

                </div>

                <!-- ADD NEW QUESTION BUTTON -->
                <div id="add-question-btn" class="question-control d-flex flex-row align-items-center mt-3">
                  <span class="icon icon-add"></span><span class="control-desc control-add">Add question</span>
                </div>

                <!-- ERROR MESSAGE -->
                <div id="new-quiz-error"></div>

                <!-- SUBMIT -->
                <button type="submit" class="btn-custom btn-custom-flex mt-2 justify-content-end">Create Quiz</button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>

    <!-- SIDE PANELS (SPLIT) -->
    <div id="side-section" class="col-12 col-lg-4">
      <!-- USER PANEL -->
      <%- include("partials/_side_top.ejs", userData) %>
      <!-- LEADERBOARDS -->
      <%- include("partials/_side_bottom.ejs", rankData) %>
    </div>

  </main>

  <%- include("partials/_footer.ejs") %>

</body>

</html>