<!-- ADMIN CONTROL PANEL -->
<% if (userData && userData.is_admin) { %>

  <div class="container">
    <div id="admin-cp" class="col-12">

      <% const quizData = data["quizData"] %>
      <% const createData = data["createData"] %>

      <!-- QUIZ SHOW PAGE -->
      <% if (quizData) { %>
      <div class="d-flex flex-row flex-wrap justify-content-between justify-content-sm-start">
        <!-- FEATURE/UNFEATURE BUTTON -->
        <form method="POST" action="/quizzes/<%= quizData.id %>?_method=PATCH">
          <input type="hidden" name="origin" value="/quizzes/<%= quizData.id %>" />
          <button type="submit" name="action" value="feature" class="btn-custom <%= quizData.featured ? "btn-custom-purple" : "btn-custom-yellow" %>">
            <%= quizData.featured ? "Unfeature Quiz" : "Feature Quiz" %>
          </button>
        </form>
        <!-- PUBLISH/UNLIST BUTTON -->
        <form method="POST" action="/quizzes/<%= quizData.id %>?_method=PATCH">
          <input type="hidden" name="origin" value="/quizzes/<%= quizData.id %>" />
          <button type="submit" name="action" value="public" class="btn-custom <%= quizData.public ? "btn-custom-blue" : "btn-custom-white" %>">
            <%= quizData.public ? "Unlist Quiz" : "Publish Quiz" %>
          </button>
        </form>
        <!-- DELETE BUTTON -->
        <form method="POST" action="/quizzes/<%= quizData.id %>?_method=DELETE">
          <button type="submit" class="btn-custom btn-custom-red">
            Delete Quiz
          </button>
        </form>
      </div>

      <div class="divider-h mt-1 mb-1"></div>
      <div class="initialism text-muted mb-2">Admin Control Panel</div>

      <!-- CREATE QUIZ PAGE -->
      <% } else if (createData) { %>
      <div class="d-flex flex-row flex-wrap justify-content-between justify-content-sm-start">
        <% for (let i = 1; i <= 3; i++) { %>
        <!-- GENERATE QUIZ BUTTON -->
        <form method="POST" action="/admin/<%= i %> ">
          <button type="submit" class="btn-custom btn-custom-blue">
            Generate Quiz <%= i %>
          </button>
        </form>
        <% } %>
      </div>

      <div class="divider-h mt-1 mb-1"></div>
      <div class="initialism text-muted mb-2">Admin Control Panel</div>

      <% } %>
    </div>
  </div>

  <% } %>