<!-- SCROLL TO TOP BUTTON -->
<div id="scroll-btn" class="compose">
  <img class="" src="/images/up-arrow.png" alt="arrow icon" draggable="false" />
</div>

<!-- FOOTER -->
<footer id="page-footer" class="container-fluid border-tertiary">
</footer>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

  <!-- TEMP DISPLAY EJS DATA (REMOVE) -->
  <code>



    <% try { %>
    <p class="lead">userData</p>
    <%= JSON.stringify(userData) %>
    <% } catch {} %>



    <% try { %>
      <hr>
    <p class="lead">quizData</p>
    <%= JSON.stringify(quizData) %>
    <% } catch {} %>

    <% try { %>
      <hr>
    <p class="lead">userQuizzes</p>
    <%= JSON.stringify(userQuizzes) %>
    <% } catch {} %>

    <% try { %>
      <hr>
    <p class="lead">sessionData</p>
    <%=  JSON.stringify(sessionData) %>
    <% } catch {} %>

    <% try { %>
      <hr>
    <p class="lead">userFavorites</p>
    <%=  JSON.stringify(userFavorites) %>
    <% } catch {} %>

  </code>
  <!------------------------------------>