<!-- REVIEWS -->
<p class="h4 mt-0 mb-4">Recent Reviews <%= quizData.reviews.length > 0 ? `(${quizData.reviews.length})` : "" %></p>
<% for (const review of quizData.reviews) { %>
  <div class="d-flex flex-row quiz-review align-items-center">
    <img class="review-avatar mr-3" src="<%= review.avatar_url %>" alt="avatar">
    <div class="div d-flex flex-column">
      <span class="review-title"><%= review.title %></span>
      <div class="d-flex flex-row align-items-center">
        <%- include("_avg_rating.ejs", {average: review.rating}) %>
      </div>
      <span class="review-comment mt-2"><%= review.comment %> </span>
      <span class="review-timestamp mt-1"><%= review.timestamp %> by <span class="review-username"><%= review.username %></span></span>
    </div>
  </div>
<% } %>
<!-- REVIEW MESSAGE (if there are no reviews) -->
<% if (!quizData.reviews.length) { %>
  <p class="lead">There aren't any reviews for this quiz yet.</p>
<% } %>